.login {
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url("https://i.pinimg.com/originals/98/8f/21/988f21e0949e08718733cae250c5f493.jpg");

}
.login-container > img{
    object-fit: contain;
    height: 30vh;
    margin-bottom: 40px;

}
.login-container {
    padding: 100px;
    text-align: center;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 30px 30px 30px black;
    color: white;
}
.login-container h1 {
    color: rgb(33, 236, 26);
  
}
.login-container  h3 {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgreen;
}
.login-container > button {
    margin-top: 50px;
    text-transform: inherit;
    background-color: #0a8d48;
    color: white;
}
.login-container > button:hover {
    color: rgb(238, 92, 92);
}
.fa-google {
    padding-right: 5px;
}